.header {
	font-family: 'Bitter', serif;
	display: block;
	background-image: url("https://4everstatic.com/images/674xX/aliments-et-boissons/pizza-158576.jpg") no-repeat;
	background-size: 100%;
	
}


#logo {
	height: 30px;
	width: : 30px;
}
